<form nz-form>
    <nz-form-item>
      <nz-form-label nzRequired>Field A</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="Enter Field A" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>Field B</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="Enter Field B" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>